<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 启用注解 -->
	<mvc:annotation-driven  />
	<!-- 扫描指定包下有储存类型的类,将这些类创建对象并加到Spring容器里面 -->
	<context:component-scan base-package="org.gec" />
	<!-- 指定哪些资源不需要经过SpringMVC的核心控制器处理 -->
	<mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
	<mvc:resources location="/adminjs/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/" mapping="/**"></mvc:resources>

	<bean
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 配置数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://47.106.10.184:3306/IntelligentClassroom"></property>
		<property name="username" value="team"></property>
		<property name="password" value="Ruanjian1150+-."></property>
	</bean>
	<!-- 配置Session工厂 -->
	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 使用一个扫描器,将Mybatis的映射接口注入到Spring容器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定会话工厂 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!-- 指定Mybatis的映射接口的路径 -->
		<property name="basePackage" value="org.gec.mapper"></property>
	</bean>
</beans>
